@font-face {
  font-family: 'Product Sans';
  src: local('Product Sans'), url(./fonts/ProductSansRegular.ttf) format('truetype');
}


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Product Sans', sans-serif !important;
   
}

body, html {
  height: 100%;
}

.my-swal {
  z-index: 10000 !important;
}



.colors {
  /* main color */
  color:#2F1793;
  
  /* primary color */
  color:#f1faee;

  /* seconday color */
  color:#b57cff;

  /* additional */
  color:#e63946;


  
  
}